@import '~@blueprintjs/core/lib/scss/variables';
@import '../../../ColorPalette.scss';

.characters-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-brown5;
  padding: 12px;
  .characters__header {
    font-size: 20px;
    margin: 6px;
    text-align: center;
    border-bottom: 1px solid $orange1;
  }
  .characters-section__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 6px;
    align-content: start;
    justify-items: center;
    margin-top: 6px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    .character-section__item {
      width: 56px;
      height: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: $light-brown1;
      border: 2px solid $dark-brown3;
      border-radius: 4px;
      cursor: grab;
      .character-section__item-icon {
        color: rgb(69, 69, 69);
      }
      .character-section__item-text {
        margin: 0;
      }
    }
  }
}
